<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-09-18-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>504368530.02423298</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-18.md</key>
			<dict>
				<key>lastModification</key>
				<real>504368530.024234</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-19.md</key>
			<dict>
				<key>lastModification</key>
				<real>504368530.024234</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-20-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>504368530.02423501</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-20.md</key>
			<dict>
				<key>lastModification</key>
				<real>504368530.02423501</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-21.md</key>
			<dict>
				<key>lastModification</key>
				<real>504368530.02423602</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-23.md</key>
			<dict>
				<key>lastModification</key>
				<real>504368530.02423602</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-24.md</key>
			<dict>
				<key>lastModification</key>
				<real>504368530.02423602</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>505580148.269602</real>
				<key>lastModification</key>
				<real>505580148.269602</real>
				<key>version</key>
				<dict>
					<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-09-18-1.md</string>
		</array>
		<array>
			<string>2016-09-18.md</string>
		</array>
		<array>
			<string>2016-09-19.md</string>
		</array>
		<array>
			<string>2016-09-20.md</string>
		</array>
		<array>
			<string>2016-09-20-1.md</string>
		</array>
		<array>
			<string>2016-09-21.md</string>
		</array>
		<array>
			<string>2016-09-23.md</string>
		</array>
		<array>
			<string>2016-09-24.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>8159b4764a3cc76887dc133f579011fd949c731c216039a37b2b34c78fbe3b70</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
